/* .header{
    text-align: center;
    height: 60px;
}
.textbox{
    position: relative;
    display: flex;
    text-align: center;
    
}
.mrg{
    margin-left: 60px;
}
.textbox input{
    width: 260px;
    height: 34px;
    border-radius: 6px;
    background: var(--color-bg2);
    border: 1px solid var(--color-bg2);
    padding: 0 20px 0 ;
    font-family: inherit;
    color: var(--color-white);
    font-size: 16px;
    outline: none;
}

.textbox input::placeholder{
    color: rgb(255, 255, 255 / 50%);
}
.textbox input:valid{
    border-color: #26dfae;
}
.validation{
    font-size: 15px;
    position: absolute;
    top: 44px;
    left: 40;
    width: 200px;
    padding: 10px;
    background: #dd4949;
    transform-origin: 50% 0;
    transition: 0.4s;
    border-radius: 20px;
    
}
.textbox input:valid ~  .validation{
    transform: scaleY(0);
} */
.container{
    width: 50%;
}

.contact_container{
    background: var(--color-bg1);
    padding: 4rem;
    height: 40rem;
    margin: 3rem auto;
    border-radius: 1rem ;
}

/* form */
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    
}
.form_name{
    display: flex;
    gap: 1.2rem;
}
.form_btn{
    text-align: center;
}
.form_btn button{
    width: 40%;
}
.form_btn button:first-child{
    margin-right: 5.5rem;
}
form input[type="text"]{
    width: 50%;
}
form input ,textarea{
    width: 100%;
    padding: 1rem;
    background-color: var(--color-bg) ;
    color: var(--color-white);
    border-radius: 1rem;
}
@media screen and (max-width : 1024px){
    .contact{
        padding-bottom: 0;
    }
    .contact_container{
        gap: 1.5rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;
    }
    .contact_aside{
        width: auto;
        padding: 1.5rem;
        bottom: 0;
    }
    form{
        align-self: center;
        margin-right: 1.5rem;
    }
}

@media screen and (max-width : 600px){
    .contact_container{
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 1rem;
    }
    form{
        margin: 0 1.5rem 3rem;
    }
    .form_name{
        flex-direction: column;
    }
    .form_name input[type="text"]{
        width: 100%;
    }
}
