
.contact_container{
    width: 50%;
}

.contact_container{
    background:#f50a3b;
    padding: 4rem;
    height: 40rem;
    margin: 3rem auto;
    border-radius: 1rem ;
}

/* form */
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    
}
.form_name{
    display: flex;
    gap: 1.2rem;
}
.form_btn{
    text-align: center;
}
.form_btn button{
    width: 40%;
}
.form_btn button:first-child{
    margin-right: 5.5rem;
}
form input[type="text"]{
    width: 50%;
}
form input ,textarea,select{
    width: 100%;
    padding: 1rem;
    background-color: rgb(202, 202, 202) ;
    color: rgb(22 28 42);
    border-radius: 1rem;
    font-size: bold;
}
select option{
    border-radius: 10%;
}
@media screen and (max-width : 1024px){
    .contact{
        padding-bottom: 0;
    }
    .contact_container{
        gap: 1.5rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;
    }
    .contact_aside{
        width: auto;
        padding: 1.5rem;
        bottom: 0;
    }
    form{
        align-self: center;
        margin-right: 1.5rem;
    }
}

@media screen and (max-width : 600px){
    .contact_container{
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 1rem;
    }
    form{
        margin: 0 1.5rem 3rem;
    }
    .form_name{
        flex-direction: column;
    }
    .form_name input[type="text"]{
        width: 100%;
    }
}
